@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

$label-center: #333;
$tape-wrap: #e9e9e9;
$case-color: rgba(20, 20, 20, 1);
$label-outer: #F00;
$tape-detail: darken($case-color, 20%);
$text-color: #fff;

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.cassette-wrap-5 {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #000;
  border-radius: 14px;
  padding: 3px 10px;
  width: 495px;
  height: 316px;
  background: $case-color;
  margin: auto;

  .username{
    position: relative;
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 2rem;
    z-index: 6;
    color: $text-color;
    top: 82%;
    left: 2%;
  }
  .created-at{
    position: relative;
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 1.5rem;
    z-index: 6;
    color: $text-color;
    top: 56%;
    right: -72%;
  }


  .screw {
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #ccc;
    border-radius: 50%;
    border: 1px solid white;
  }

  .screw:before, .screw:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 7px;
    height: 1px;
    margin: auto;
    background: white;
  }

  .screw:after {
    transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .screw:nth-child(1), .screw:nth-child(2) {
    top: 4px
  }

  .screw:nth-child(3), .screw:nth-child(4) {
    bottom: 6px
  }

  .screw:nth-child(1), .screw:nth-child(3) {
    left: 7px
  }

  .screw:nth-child(2), .screw:nth-child(4) {
    right: 7px
  }

  .screw:nth-child(5) {
    top: 18px;
    right: 156px;
  }

  .cassette-locker {
    position: absolute;
    width: 28px;
    height: 15px;
    border: 2px solid $tape-detail;
  }

  .cassette-locker.L {
    left: 32px
  }

  .cassette-locker.R {
    right: 34px;
  }

  .filament-stiffner {
    position: absolute;
    bottom: 10px;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: 1px solid $tape-detail;
  }

  .filament-stiffner:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #fff;
  }

  .filament-stiffner.L {
    left: 31px
  }

  .filament-stiffner.R {
    right: 33px
  }

  .filament-process-wrap {
    width: 324px;
    height: 74px;
    margin: auto;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 4;
  }

  .filament-process-wrap:before {
    content: '';
    position: absolute;
    box-shadow: 0 -4px 0 4px $tape-detail;
    width: 100%;
    height: 100%;
    transform: perspective(250px) rotateX(20deg);
  }

  .square-filament-stiffner {
    position: absolute;
    top: 48px;
    width: 15px;
    height: 15px;
    border: 2px solid $tape-detail;
    border-radius: 5px;
    background: white;
  }

  .square-filament-stiffner.L {
    left: 90px;
  }

  .square-filament-stiffner.R {
    right: 80px;
  }

  .circle-filament-stiffner {
    position: absolute;
    top: 55px;
    width: 15px;
    height: 15px;
    border: 2px solid $tape-detail;
    background: white;
    border-radius: 50%;
  }

  .circle-filament-stiffner.L {
    left: 42px;
  }

  .circle-filament-stiffner.R {
    right: 32px;
  }

  .filament-reader-area {
    position: absolute;
    width: 90px;
    height: 23px;
    box-shadow: 0 -6px 0 2px $tape-detail;
    background: transparent;
    bottom: -4px;
    left: 8px;
    right: 0;
    margin: auto;
  }

  .filaments-container {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border: 2px solid #505050;
    border-top: 0;
    border-bottom: 0;
    width: 472px;
    height: 132px;
    z-index: 3;
  }

  .filaments-container:before {
    content: '';
    position: absolute;
    top: -63px;
    left: 59px;
    border: 3px solid #505050;
    border-bottom: 0;
    width: 350px;
    height: 58px;
    transform: perspective(50px) rotateX(27deg);
  }

  .circular-container {
    position: absolute;
    top: 80px;
    width: 236px;
    height: 138px;
    z-index: -1;
    overflow: hidden;
    background: none;
  }

  .circular-container:before {
    content: '';
    position: absolute;
    width: 282px;
    height: 140px;
    top: -3.9px;
    background: none;
    box-shadow: 0 0 0 2px #505050;
    border-radius: 0 0 265px 265px;
  }

  .circular-container.L {
    left: -2px;
  }

  .circular-container.L:before {
    left: -9.6px;
  }

  .circular-container.R {
    right: -2px;
  }

  .circular-container.R:before {
    right: -9.7px;
  }

  .cassette-cover-sticker {
    position: absolute;
    top: -15px;
    left: 0px;
    right: 0;
    margin: auto;
    width: 444px;
    height: 178px;
    background: transparent;
    z-index: 94;
  }

  .cassette-cover-sticker:before {
    content: '';
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    margin: auto;
    width: 420px;
    height: 47px;
    background: $label-outer;
    transform: perspective(350px) rotateX(60deg);
    z-index: 6;
  }

  .cassette-cover-sticker:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0;
    margin: auto;
    width: 445px;
    height: 20px;
    background: $label-outer;
    box-shadow: 0 -157px 0 0 $label-outer;
    z-index: 2;
  }

  .cassette-name {
    font-family: 'Shadows Into Light', sans-serif;
    outline: none;
    font-size: 2rem;
    height: 2.5rem;
    border-bottom: 4px solid #000;
    width: 87%;
    text-align: center;
    padding: 6px 0 3px;
    position: relative;
    z-index: 6;
    color: $text-color;
    display: block;
    margin: -23px auto;
    background: $label-outer;

    &.disabled {
      pointer-events: none;
    }
  }

  .tape-level-wrap {
    position: absolute;
    width: 100%;
    top: 21px;
    left: 0;
    height: 137px;
    z-index: 2;
  }

  .tape-level-wrap:before {
    content: '';
    position: absolute;
    width: 158px;
    height: 35px;
    box-shadow: 158px 0 0 0 $tape-wrap, 287px 0 0 0 $tape-wrap, 287px 34px 0 0 $tape-wrap, 287px 68px 0 0 $tape-wrap, 287px 102px 0 0 $tape-wrap, 129px 102px 0 0 $tape-wrap, 0px 102px 0 0 $tape-wrap, 0px 68px 0 0 $tape-wrap, 0px 34px 0 0 $tape-wrap;
    z-index: 5;
    background: $tape-wrap;
  }

  .tape-level-wrap:after {
    content: '';
    position: absolute;
    top: 22px;
    left: 47px;
    width: 111px;
    height: 13px;
    box-shadow: 110px 0 0 0 $label-center, 220px 0 0 0 $label-center, 240px 0 0 0 $label-center, 0 80px 0 0 $label-center, 110px 80px 0 0 $label-center, 220px 80px 0 0 $label-center, 240px 80px 0 0 $label-center, 0 10px 0 0 $label-center, 240px 10px 0 0 $label-center, 0px 22px 0 0 $label-center, 240px 22px 0 0 $label-center, 0px 34px 0 0 $label-center, 240px 34px 0 0 $label-center, 0px 46px 0 0 $label-center, 240px 46px 0 0 $label-center, 0px 58px 0 0 $label-center, 240px 58px 0 0 $label-center, 0px 70px 0 0 $label-center, 240px 70px 0 0 $label-center;
    z-index: 5;
    background: $label-center;
  }

  .filament {
    position: absolute;
    border-radius: 50%;
    background: black;
  }

  .filament.L {
    width: 120px;
    height: 120px;
    left: 57px;
    top: 10px;
  }

  .filament.L:before {
    width: 110px;
    top: 11px;
    left: -9px;
  }

  .filament.R {
    width: 250px;
    height: 250px;
    right: -9px;
    top: -55px;
  }

  .filament.R:before {
    width: 110px;
    top: 77px;
    left: 85px;
  }

  .filament .hub {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 57px;
    height: 57px;
    background: #222831;
    box-shadow: 0 0 0 2px white, 0 0 0 3px #222831, 0 0 0 4px white;
    border-radius: 50%;
    z-index: 6;

  }
  .hub.playing{
    animation: recordStart 2s linear infinite;
  }
  .hub .hub-lock {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: white;
    position: absolute;
    z-index: 0;
  }

  .hub .hub-lock:nth-child(1) {
    left: 0;
    right: 0;
    margin: auto;
  }

  .hub .hub-lock:nth-child(2) {
    transform: translate(45px, 12px) rotate(60deg);
  }

  .hub .hub-lock:nth-child(3) {
    transform: translate(45px, 35px) rotate(120deg);
  }

  .hub .hub-lock:nth-child(4) {
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
  }

  .hub .hub-lock:nth-child(5) {
    transform: translate(3px, 36px) rotate(240deg);
  }

  .hub .hub-lock:nth-child(6) {
    transform: translate(3px, 13px) rotate(300deg)
  }

  @keyframes recordStart {
    100% {
      transform: rotate(360deg);
    }
  }
}
