@import '../_vars';
.jam{
  height: 100%;
  
  &.bouncing{
    pointer-events: none;
  }
  .tabs{
    background-color: #333;

    display: flex;
    justify-content: flex-start;
    height: 40px;
    padding: 4px;
    .tab{
      background-color: #BBB;
      border: 1px solid black;
      padding: 10px;
      margin-left: 10px;
      min-width: 100px;
    }
  }
  .jam-inner{
    // margin-top: -$header-height;
    height: 100%;
    // width: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    .interface-holder{
      height: 100%;
      display: flex;
    }
    .transport{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px;
      border: 1px solid black;
      display: flex;
      justify-content: space-between;
      padding: 0 2rem;
      .display{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .item{
        margin-left: 4px;
        margin-right: 4px;
      }
      .center, .left, .right{
        flex-grow: 1;
        border: 1px solid red;
        display: flex;
        justify-content: center;
        .number-control{
          display: flex;
          flex-direction: row;
        }
      }
      .left, .right{
        flex-grow: 1
      }
    }
  }
}
