@import '../_vars';

.tape-container{
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.tapes{
  padding: 20px;
}
.tape{
  padding: 8px;
  margin-bottom: 8px;
}
