@import '_vars';
header{
  position: fixed;
  top: 0;
  height: $header-height;
  width: 100vw;
  background: white;
  display: flex;
  justify-content: space-between;
  .nav-item{
    padding: 4px;
    border: 1px solid black;
    margin: 4px;
  }
  .left, .center, .right{
    display: flex;
  }
}
