@import '_vars';
header{
  position: fixed;
  top: 0;
  height: $header-height;
  width: 100vw;
  background: white;
  display: flex;
  justify-content: space-between;
  .nav-item{
    padding: 4px;
    border: 1px solid black;
    margin: 4px;
  }
  .left, .center, .right{
    display: flex;
  }

  form {
    position: absolute;
    width: 100%;
    background: #ccc;
    left: 0;
    top: 3em;
    height: 4em;
    display: flex;
    justify-content: space-around;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;

    &.displayed {
      height: 4em;
    }
  }
}
