@import '_vars';
@import '_inputrange';
@import url('https://fonts.googleapis.com/css?family=Monoton');

$red: #f00;

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  padding-top: $header-height;
  background: #CEBB9E;
}

a {
  text-decoration: none;
}

h1 {
  color: $red;
  font-family: Monoton, monospace;
}

main {
  height:100vh;
  width: 100vw;
  margin-top: -$header-height;
  padding-top: $header-height;
}
